body {
  display: block;
  font-family: "Raleway", sans-serif;
  width: 1100px;
}

/*контейнер заголовка*/
.header {
  display: flex;
  width: 1100px;
  padding: 93px 24px 89px 24px;
}

/* блок меню в заголовке */
.header__menu {
  display: flex;
  padding: 44px 30px 39px 26px;
}

/* список меню */
.header__links-list {
  display: flex;
  list-style: circle; /* пустой кружок в списке*/
  gap: 34px;
  font-size: 18px;
}

.header__links-list-item_activ {
  list-style: none;
}

/*отмена подчёркивания у активной ссылки заголовка*/
.header_link_activ {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 138px;
  margin-left: 10px;
  margin-right: 186px;
}

.address {
  display: block;
  padding-top: 3px;
  font-size: 18.5px;
  font-style: normal;
  line-height: 1.3em;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  padding: 161px 50px 50px 50px;
}

/* h1 "оно тебе надо" */
.cover__title {
  position: relative;
  padding-top: 4px;
  color: white;
  text-transform: uppercase;
  font-size: 94px;
  line-height: 110%; /* высота строки */
  letter-spacing: 32px; /* расстояние между символами в тексте */
  font-weight: bold;
  flex-direction: column;
  z-index: 1;
}

/* span "оно тебе надо" */
.aligned-text {
  display: block;
  justify-content: left;
}

/* слово ТЕБ */
.aligned-text_center {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  letter-spacing: 32px;
  padding-left: 12px;
}

/*слово АД*/
.aligned-text_right {
  display: flex;
  padding-top: 18px;
  justify-content: right;
}
/* O  E  Н*/
.letter-spacing-extended {
  padding-left: 35px;
  padding-right: 18px;
  letter-spacing: 0.6em;
}

/*последняя буква O в слове НАДО*/
.no-letter-spacing {
  letter-spacing: 0;
}

/* блок Подзаголовок и Кнопка*/
.cover__description {
  display: block;
  position: relative;  
  color: white;
  padding: 136px 0 0;
}

/* подзаговок Аукцион... */
.cover__description-text {
  display: inline;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  word-spacing: 18px;
  padding-left: 29px;
}

/* кнопка */
.bet-button {
  display: inline;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 15px 30px 11px 28px;
  letter-spacing: 1px;
  margin-left: 76px;
}

/* вся секция ЛОТЫ*/
.lots {
  display: block;
  position: relative;
  height: 100%;
  min-width: 1052px;
  padding-top: 183px;
  padding-left: 23px;
  padding-right: 24px;
}

/*заголовок Лоты*/
.lots__heading {
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  padding: 0 0 30px 40px;
  line-height: 1;
}

/* список из 3х карточек */
.lots__card-list {
  display: flex;
  list-style-type: none;
  gap: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  position: relative;
  width: 334px;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 46px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  flex-grow: 0;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  flex-grow: 0;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  flex-grow: 1;
}

.card__title {
  position: relative;
  width: 254px;
  margin-top: 51px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
}

/* отмена подчёркивания у текста в карточках */
.card-link{
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
/* Ссылка Посмотреть больше*/
.lots_link {
  position: relative;
  padding-top: 32px;
  margin-bottom: 180px;
  padding-left: 40px;
  font-size: 20px;
} 


/* Секция Логотип. ОБ аукционе*/
.about {
  padding-top: 182;
  padding-left: 25px;
  padding-right: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 27px;
}

.about__column {
  justify-self: center;
}

/* контейнер логотипа*/
.about__logo {
  display: flex;
  position: relative;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 150px;
  align-items: center;
}

.about_column_text {
  margin-top: 6px;
  grid-column: span 2;
}

.about__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding: 100px 0 104px;
  line-height: 1;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
}

/* Подвал */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 179px 48px 80px;
}

.footer__menu {
  padding-left: 30px;
  line-height: 1.2em;
  font-size: 18px;
  text-align: center;
}

.footer__menu-link {
  list-style-type: none;
}

/*отмена подчёркивания у активной ссылки подвала*/
.footer_link_activ {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  padding-right: 5px;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}

